<h1>Demerits</h1>
<mat-card>
	<mat-card-title><b>2 Demerit Points</b></mat-card-title>
	<mat-card-content>
    <h2><b>Jerry Sine FIELD</b></h2>
    <h3>Reason: Speeding on M5 motorway. <br>Given on the 20th of March 2020.</h3>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title><b>1 Demerit Point</b></mat-card-title>
	<mat-card-content>
    <h2><b>John PRICE</b></h2>
    <h3>Reason: Failure to turn on lights. <br>Given on the 25th of October 2019.</h3>
	</mat-card-content>
</mat-card>