<h1> Licences  </h1>
  <mat-list-item *ngFor="let item of people">
    <mat-card>
      <table width="100%">
        <tr>
          <td> {{item.LicenceType}}  </td>
          <td> </td>
          <td> <button mat-raised-button color="accent">Edit</button>  </td>
        </tr>
        <tr>
          <td> Licence Number <br>
          {{item.LicenceNumber}} </td>
          <td> </td>
          <td> <button mat-raised-button color="warn">Delete</button></td>
          <td> </td>
        </tr>

      </table>
    </mat-card>
    <mat-divider class="divider"></mat-divider>
  </mat-list-item>