<h1> Licences List</h1>
  <mat-list-item *ngFor="let item of people">
    <mat-card>
      <table width="100%">
        
        <tr>
          <tr>
          <td><h2>
          {{item.HolderName}} </h2></td>
          <td> </td>
          <td> <button mat-raised-button color="accent">Edit</button>  </td>
        </tr>
        <tr>
          <td> Licence Number <br>
          {{item.LicenceNumber}} </td>
          <td> </td>
          <td> <button mat-raised-button color="warn">Delete</button></td>
          <td> </td>
        </tr>
        <tr>
          <td> License Type: 
          {{item.LicenceType}} </td>
        </tr>
        <tr>
          <td> DOB: 
          {{item.DOB}} </td>
        </tr>
        <tr>
          <td> Expiry Date: 
          {{item.ExpDate}} </td>
        </tr>
        <tr>
          <td> Card Number: 
          {{item.CardNumber}} </td>
        </tr>
        <tr>
          <td> Confirmation No: 
          {{item.ConfirmationNo}} </td>
        </tr>
        <tr>
          <td> Address: 
          {{item.Address}} </td>
        </tr>

      </table>
    </mat-card>
    <mat-divider class="divider"></mat-divider>
  </mat-list-item>