<mat-grid-list cols="2" rowHeight="2:1">
  <h1>Licenses:</h1>
  <mat-grid-tile><button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/addlicense">Add License</button></mat-grid-tile>

  <mat-grid-tile><button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/list">List Licenses</button></mat-grid-tile>

  <mat-grid-tile><button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/forgotpw">Fines</button></mat-grid-tile>

  <mat-grid-tile><button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/forgotpw">Demerit Points</button></mat-grid-tile>
</mat-grid-list>