  <h1>Welcome to License Locator!</h1>
<br>
  <h1>License Options:</h1>
  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/addlicense">Add License</button>

  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/list">List Licenses</button>

  <div> 
    <br>
  <h1>Penalty Options:</h1>
  </div>
  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/fines">Fines</button>

  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/demerit">Demerit Points</button>

