
  <h1>Licenses:</h1>
  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/addlicense">Add License</button>

  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/list">List Licenses</button>

  <div> 
  <h1>Penalties:</h1>
  </div>
  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/fines">Fines</button>

  <button mat-raised-button  color="primary" div class="buttonOtherStuff"  routerLink="/demerits">Demerit Points</button>

