
.box {
    padding: 10px;
    margin:2px;
    width:50%;
    vertical-align: middle;

}

a:link {
  color: coral;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}


.homeIMG{
  width: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonLogin {
  background-color: #7b1fa2; /* Green */
  border: none;
  color: white;
  padding: 10px 101px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonOtherStuff {
  background-color: #3b0055; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}






